body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.2;
    color: #333;
    background-color: #fff;
}
div.login { 
  text-align: left;
  position:relative;
} 

div#pass {
  text-align: left;
  font-weight:bold;
  padding-left:2px;
}

input#Password {
  -webkit-text-security: disc;
}

.shiny-output-error {
  visibility: hidden;
}

.cprght {
  font-size:8pt;font-style:italic;font-family:'Arial';text-decoration:none;font-weight:normal;
}

.btn-default {
  color: #fff; background-color: #337ab7; border-color: #2e6da4;
}

.textlabs {
  font-size:10pt;font-family:'Arial';text-decoration:none;font-weight:bold;
}

.passerr {
  color: red;
}

#loadmessage, #uploadmsg { 
  width:400px;height:50px;line-height:50px;padding:5px 0px 5px 0px;z-index: 105; background-image:url(images/loading.gif); background-repeat:no-repeat;background-size: 60px 30px;
}
#jobstatus {
  display: none;
}
#outZones1 {
  background-color: rgba(204,229,255,0.20);
}
#outZones2 {
  background-color: rgba(255,204,255,0.20);
}

textarea {
    border-color: #A933B7;
    line-height: 1.5;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
    height: 26px;
}

.btn {
    line-height: 1;
    font-size: 12px;
}
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    padding-right: 10px;
    padding-left: 10px;
}

.single {
    min-height: 20px;
    min-width: 150px;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background: rgba(198, 201, 214, 0.8);
}
::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
border-radius: 0px;
}
